= content_tag :div, nil, id: 'map_canvas', data: { polygons_url: polygons_url }

#toolbar
	.segment#location
		%h1.branding
			geoCANVAS
			%small alpha
		= form_tag '/', id: 'location_search' do
			= text_field_tag :lstring, "Houston"
			= button_tag 'Search', id: 'location_search'
		.coords
			%span.text Lat:
			%span.value#mlat 29.75
			%span.text Lng:
			%span.value#mlon -95.40

	.segment#distances
		.input
			= label_tag :mdistanceft, "Feet"
			= text_field_tag :mdistanceft

		.input
			= label_tag :mdistancemr, "Meters"
			= text_field_tag :mdistancemr

		.input
			= label_tag :mdistancemi, "Miles"
			= text_field_tag :mdistancemi

		= hidden_field_tag :distancemeasured

	.segment#area
		.input
			= label_tag :mareaft, "Sq. Feet"
			= text_field_tag :mareaft
		
		.input
			= label_tag :mareaac, "Acres"
			= text_field_tag :mareaac

		.input
			= label_tag :mareaha, "Hectares"
			= text_field_tag :mareaha

	.segment#clear
		= button_tag 'Clear Markers', type: 'button', id: 'measure_reset'

		.info
			By Andrew Burleson and Erick Figueroa
			%br
			= link_to("Fourth Environment, LLC", "http://www.fourthenvironment.com") + "."
			= "©#{Time.now.year.to_s}"