= map_canvas

#toolbar
	.segment#location
		%h1.branding
			geoCANVAS
			%small alpha
		= form_tag '/', id: 'location_search' do
			= text_field_tag :lstring, "Houston"
			= button_tag 'Search', id: 'location_search'
		.coords
			%span.text Lat:
			%span.value#location_lat 29.75
			%span.text Lng:
			%span.value#location_lng -95.40

	.segment#distances
		.input
			= label_tag :length_ft, "Feet"
			= text_field_tag :length_ft

		.input
			= label_tag :length_m, "Meters"
			= text_field_tag :length_m

		.input
			= label_tag :length_mi, "Miles"
			= text_field_tag :length_mi

		= hidden_field_tag :distancemeasured

	.segment#area
		.input
			= label_tag :area_sqft, "Sq. Feet"
			= text_field_tag :area_sqft
		
		.input
			= label_tag :area_ac, "Acres"
			= text_field_tag :area_ac

		.input
			= label_tag :area_ha, "Hectares"
			= text_field_tag :area_ha

	.segment#clear
		= button_tag 'Clear Markers', type: 'button', id: 'measure_reset'

		.info
			By Andrew Burleson and Erick Figueroa
			%br
			= link_to("Fourth Environment, LLC", "http://www.fourthenvironment.com") + "."
			= "©#{Time.now.year.to_s}"